<body id='about-page'>
		<center>
		<div class="thumbnail">
		<br>
		<br>
		<br>
				<%= image_tag("navlogo.png") %>
	<br>
	<br>
				<div class="caption">
				<h1>About Us</h1>
				<p width: 100px;>GameNight was made so that you will always have someone to play your favorite offline game with and always have the perfect place to play them. In the past, you had to get lucky and have friends who liked the same games or rely on clunky Meetups to meet people to play with. Now you can find people everywhere who love the same games you do, so it's never been easier to make friends using a common interest.</p>
				</div>
				<br>

		</div>
		</center>
		
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-6 col-md-4">
	<div class="thumbnail">
				<br>
				<br>
				<img class='img-circle' src='assets/chantelle.jpg' />
	<br>
				<center>
				<div class="caption">
				<h2>Chantelle Becker</h2>
				<h4 style="color:gray">Coder</h4>
				<p>GameNight was made so that you will always have someone to play your favorite offline game with and always have the perfect place to play them. In the past, you had to get lucky and have friends who liked the same games or rely on clunky Meetups to meet people to play with. Now you can find people everywhere who love the same games you do, so it's never been easier to make friends using a common interest.</p>
				</div>
				</center>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
				<br>
				<br>
					<img class='img-circle' src='assets/doug.png' />
		<br>
					<center>
					<div class="caption">
					<h2>Doug Watson</h2>
					<h4 style="color:gray">Coder</h4>
					<p>GameNight was made so that you will always have someone to play your favorite offline game with and always have the perfect place to play them. In the past, you had to get lucky and have friends who liked the same games or rely on clunky Meetups to meet people to play with. Now you can find people everywhere who love the same games you do, so it's never been easier to make friends using a common interest.</p>
					</div>
					</center>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
				<br>
				<br>
					<img class='img-circle' src='assets/stephen.png' />
		<br>
					<center>
					<div class="caption">
					<h2>Stephen Dudkowski</h2>
					<h4 style="color:gray">Coder</h4>
					<p>GameNight was made so that you will always have someone to play your favorite offline game with and always have the perfect place to play them. In the past, you had to get lucky and have friends who liked the same games or rely on clunky Meetups to meet people to play with. Now you can find people everywhere who love the same games you do, so it's never been easier to make friends using a common interest.</p>
					</div>
					</center>
			</div>
		</div>
</div>
<br>
<br>
<br>
<br>
</body>
