<div class="hero-unit">
  <div>
    <br><br><br><br><br>
    <center><h1>Find Friends to Play Your Favorite Games</h1></center>
    <center><h2>and find the perfect place to play</h2></center>
    <br>
    <center><form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="What Game Do You Want to Play?" style="width: 300px;>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Zip Code" style="width: 125px;">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Let's Play!</button>
      </form></center>
      <center><p><a href="#">or browse by game.</a></p></center>
  </div>
</div>
<!-- 
<h1>Game Night!</h1>
<h2>Welcome to Game Night!  Find friends and join a game or set up your own!</h2> -->
<p>Popular games.</p>



<div class="row"> 
  <% @g.each do |event| %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to event.title, event %>
			</div>
		</div>
	</div>
  <% end %>
</div>


