/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.cant-see-me {
    display: none;
}
.navbar {
    margin-bottom: 0px;
}
.container {
    margin-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.hero-unit {
    background-image:url('hero.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:500px;
  }
  
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;
}
.hero-unit a {
    color: white;
}

.container-fluid {
    padding: 10px 0;
    background-color: #f8f8f8;
}

.port-header {
    text-align: center; 
}

.btn-default {
    color: white;
    background-color: #fcb117;
}

<<<<<<< HEAD
footer {
    padding: 20px 0;
    background-color: #333333;
    text-align: center;
    color: white;
}

footer a{
    color: white;
}

p.copyright {
    margin: 15px 0 0;
}

.rights {
    text-align: center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color: #464646;
}

.style_image {
    max-width: 160px;
    padding-left: 10px;
}
=======



>>>>>>> adc196702177075a3f995b34deb2d86e059f0207




